<!--recebemos o valor através do evento(aoTransferir) e propagamos para o método Appcomponent no arquivo app.component.ts com o ="transferir($event-palavra reservado do angular)"-->
<app-nova-transferencia
  (aoTransferir)="transferirC($event)"><!--$event recebe os valores que o aoTransferir passa-->
</app-nova-transferencia>

<!--Exibindo o extrato-->
<app-extrato [transferencias1]="transferencias"></app-extrato><!--passando a variável transferência do arquivo app.component.ts
  para o @Input do extrato.component.ts receber-->

